<ul class="icon">
    <li *ngIf="project.languages.includes('angular')">
        <fa-icon [icon]="faAngular"></fa-icon>
    </li>
    <li *ngIf="project.languages.includes('typescript')">
        <fa-icon [icon]="faJs"></fa-icon>
    </li>
    <li *ngIf="project.languages.includes('java')">
        <fa-icon [icon]="faJava"></fa-icon>
    </li>
    <li *ngIf="project.languages.includes('css')">
        <fa-icon [icon]="faCss"></fa-icon>
    </li>
</ul>
<h3>{{project.name}}</h3>
<img src="{{project.picture}}" alt="image" (click)="toggleInfo()">
<span (click)="toggleInfo()">
    <fa-icon class="plus" [icon]="faCirclePlus"></fa-icon>
</span>
<div class="info mat-elevation-z8" *ngIf="showInfo">
    {{project.info}}
</div>