<div class="item">
    <ul class="icon">
        <li *ngIf="project.languages.includes('angular')">
            <fa-icon [icon]="faAngular"></fa-icon>
        </li>
        <li *ngIf="project.languages.includes('typescript')">
            <fa-icon [icon]="faJs"></fa-icon>
        </li>
        <li *ngIf="project.languages.includes('java')">
            <fa-icon [icon]="faJava"></fa-icon>
        </li>
        <li *ngIf="project.languages.includes('css')">
            <fa-icon [icon]="faCss"></fa-icon>
        </li>
    </ul>
    <h3 class="title">{{project.name}}</h3>
        <img class="avatar mat-elevation-z8" src="assets/images/{{project.picture}}" alt="image" (click)="toggleInfo()">
        <!-- <img src="{{project.picture}}" alt="image" (click)="toggleInfo()"> //marche aussi -->
    <div span class="divPlus" (click)="toggleInfo()" *ngIf="!showInfo">
        <fa-icon class="plus" [icon]="faCirclePlus"></fa-icon>
    </div>
    <div span class="divPlus" (click)="toggleInfo()" *ngIf="showInfo">
        <fa-icon class="plus" [icon]="faCircleMinus"></fa-icon>
    </div>
    <div class="info mat-elevation-z8" *ngIf="showInfo">
        <h3 class="titleInfo">{{project.name}}</h3>
        <ul>
            <li *ngIf="project.source != ''">> <a href={{project.source}}>Code source</a></li>
            <li *ngIf="project.demo != ''">> <a href={{project.demo}}>Démo</a></li>
            <li *ngIf="project.website != ''">> <a href={{project.website}}>Site web</a></li>
        </ul>
        <!-- <div class="button"><a href={{project.demo}}>Démo</a></div>
        <div class="button"><a href={{project.source}}>Code source</a></div> -->
        <p>Description: {{project.info}}</p>
    </div>
</div>