


.contactcontent{
    padding-top: 100px;
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
    /* z-index: -2; */
    color: #b3b3b3;
    
}
 .contactcontent::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url('src/assets/images/map.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-color: black;
    /* filter: brightness(40%); */
 }
.contactcontent::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    /* background: linear-gradient(0deg, #013979 50%, transparent 100%); */
    /* background: linear-gradient(0deg, #002249 30%, transparent 100%); */
     background: linear-gradient(0deg, #26262c 25%, transparent 100%);
   
    z-index: -1;
} 
.contactcadre{
    /* background: linear-gradient(180deg, rgb(84, 168, 140) 50%, rgb(107, 221, 183) 100%); */
    background-color: #26262c;
    width: 350px;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 10px 50px;
    margin: 0 auto;
    
    
}
.contactcadre > .item{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.trait{
    height: 1px;
    background-color: black;
    width: 50%;
    margin: 25px auto;
    margin-bottom: 10px;
}
h1{
    width: max-content;
    margin: 10px auto;
    color: aquamarine;
}
.icotem{
    margin-right:  40px;
}

.reso{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.reso > a{
        margin: 0 25px;
         display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
         width: 150px;
         font-size: 1rem;
        background-color: #26262c;;
         padding: 10px 0; 
        border-radius: 25px;
        transition: 0.2s ease; 
}
    .reso > a:hover{
        background-color:#3f3f49;
    }
    .reso > a > fa-icon{
        margin-top: 5px;
    }
    a{
        color: inherit; 
        text-decoration: inherit;
    }
    fa-icon{
        color: aquamarine;
    }