
<div class="contactcontent">
    <div class="contactcadre mat-elevation-z8">
        <h1>Contactez moi</h1>
        <div class="trait"></div>
        <div class="item"><fa-icon class="icotem" [icon]="faLocation" ></fa-icon> Rennes</div>
        <div class="item"><fa-icon class="icotem" [icon]="faEnvelope" ></fa-icon> faberthet35@gmail.com</div>
        <div class="item"><fa-icon class="icotem" [icon]="faPhone" ></fa-icon> 0752064430</div>
    </div>
    <div class="reso">
        <a class="mat-elevation-z8" href="https://github.com/faberthet" target="_blank">
            Github
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <!-- <a class="mat-elevation-z8" href="https://github.com/faberthet" target="_blank">
            Linkedin
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>  -->
    </div>
</div>
