.contactcontent{
    padding-top: 100px;
    /* height: 100%; */
    width: 100%;
    
}
.contactcadre{
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 50px;
    margin: 0 auto;
    
}
.contactcadre > .item{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.trait{
    height: 1px;
    background-color: black;
    width: 50%;
    margin: 25px auto;
    margin-bottom: 10px;
}
h1{
    width: max-content;
    margin: 10px auto;
}
.icotem{
    margin-right:  40px;
}

.reso{
     margin-top: 75px;
    }
    .reso > a{
        margin: 0 auto;

         display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
         width: max-content;
         font-size: 1rem;
        background-color: cornflowerblue;
         padding: 10px 2rem; 
        border-radius: 25px;
        box-shadow: 0 5px 1px rgb(15, 15, 15);
        transition: 0.2s ease; 
    }
    .reso > a:hover{
        background-color:royalblue;
    }
    .reso > a > fa-icon{
        margin-top: 5px;
    }
    a{
        color: inherit; 
        text-decoration: inherit;
    }