<div class="contactcontent">
    <div class="contactcadre">
        <h1>Contactez moi</h1>
        <div class="trait"></div>
        <div class="item"><mat-icon class="icotem">place</mat-icon> Rennes</div>
        <div class="item"><mat-icon class="icotem">mail_outline</mat-icon> faberthet35@gmail.com</div>
        <div class="item"><mat-icon class="icotem">call_end</mat-icon> 0752064430</div>
    </div>
    <div class="reso">
        <a href="https://github.com/faberthet" target="_blank">
            Github
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
    </div>
</div>