.proj{
  margin-left: 10px;
}
.flexcontainer{
    width: 100%;
    min-height: calc(100% - 3rem) ;
    display: flex;
    /* align-items: center; */
}
/* .projectsContent{
    width: 100%;
    min-height: calc(100% - 3rem );  - .radio height - .projet padding top
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
} */
.projectsContent{
  width: 100%;
  min-height: calc(740px - 3rem - 10px); /* - .radio height - .projet padding top - radio margin-bottom */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.projet{
    background-color: var(--bgcolor1);
    border-radius: 15px;
    position: relative;
    height:336px ;
}

.radio{
    display: flex;
    background-color:var(--bgcolor1);
    color: var(--paracolor);
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 3rem;
    border-radius: 15px;
    margin-bottom: 10px ;
}
.choice{
    margin-right: 20px;
    text-transform: uppercase;
}
/* @media only screen and (max-width: 1770px) {
    .projet{
        width: calc(30% + 2px);
 }  
}
@media only screen and (max-width: 1663px) {
    .projet{
        width: calc(30% + 1px);
 }  
}
@media only screen and (max-width: 1600px) {
    .projet{
        width: 30%;
 }  
}

@media only screen and (max-width: 1551px) {
      .projet{
      margin:1px;
    } 
}
@media only screen and (max-width: 1460px) {
    .projet{
    width: 46%;
  }  

}
@media only screen and (max-width: 1289px) {
    .projet{
    width: 45%;
  }  
}
  @media only screen and (max-width: 1120px) {
    .projet{
    width: 95%;
  }  
}
@media only screen and (max-width: 991px) {
    .projet{
    width: 46%;
  }  
}
@media only screen and (max-width: 890px) {
     .projet{
    width: 45%;
  }  
}
 */
@media only screen and (max-width: 675px) {
  
 .projectsContent{
    grid-template-columns: repeat(2, 1fr);
 }
}
