<div class="radio" >
    <div class="choice" *ngFor="let choice of choices">
        <label for="{{choice}}">{{choice}}</label> 
        <input type="radio" name="{{choice}}" id="{{choice}}" value="{{choice}}" [(ngModel)]="selectedLanguage">
    </div>
</div>
<div class="flexcontainer">
    <div class="projectsContent">
        <ng-container *ngFor="let project of projects">
            <ng-container *ngIf="selectedLanguage == 'Tout' || project.languages.includes(selectedLanguage)">
                <div class="projet">
                    <app-projet [project]="project"></app-projet>
                </div>
            </ng-container>
        </ng-container>

    </div>
</div>













<!-- 
<div class="projectcontent">
    <hr>
    <div>
        <div class="textdiv">
            mon premier projet Angular Spring Boot: <br>
            il s'agit d'un site web réalisé pour une auto-entreprise.
            
            démo partie visiteurs: <a href="https://youtu.be/58JBlvOXVvs">https://youtu.be/58JBlvOXVvs</a><br>
            démo partie CRUD: <a href="https://youtu.be/EJsv0Or4Adg">https://youtu.be/EJsv0Or4Adg</a>
        </div>
        <div class="imgdiv">
            <img class="avatar mat-elevation-z8" src="assets/images/bjv.jpg" alt="capture bjv">
        </div>
    </div>
    <hr>
    <div>
        <div class="textdiv">
            mes deux derniers projets java à l'université: <br><br>
                        
            démo mots croisés: <a href="https://drive.google.com/file/d/1OBjtPZnd4cNwq7GAXpGnx4FAuSIvLgC6/view?usp=sharing">ici</a><br>
            démo morpion: <a href="https://drive.google.com/file/d/1B3AVNTxesWWs4L8E88Orbgs5HYZ9Iir-/view?usp=sharing">ici</a>
        </div>
        <div class="imgdiv">
            <img class="avatar mat-elevation-z8 mot" src="assets/images/mot1.jpg" alt="capture bjv">
        </div>
    </div>
    <hr>

</div> -->



