.flexcontainer{
    width: 100%;
    min-height: calc(100% - 3rem) ;
    display: flex;
    /* align-items: center; */
}
.projectsContent{
    width: 100%;
    min-height: calc(100% - 3rem ); /* - .radio height - .projet padding top */
    display: flex;
    flex-wrap:wrap;
    /* justify-content:space-evenly; */
justify-content: space-between;
   /* padding-top: 5px; */
   
}
.projet{
    width: 32%;
    height: 335px;
    /* background-color: rgb(43, 90, 74); */
    /* background: linear-gradient(180deg, var(--bgcolor1) 50%, var(--bgcolor2) 100%); */
    background-color: var(--bgcolor1);
    /* margin: 2px; */
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
    border: solid 3px var(--bgcolor1) ;
}

.radio{
    display: flex;
    background-color:var(--bgcolor1);
    color: var(--paracolor);
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 3rem;
    border-radius: 15px;
}
.choice{
    margin-right: 20px;
    text-transform: uppercase;
}
/* @media only screen and (max-width: 1770px) {
    .projet{
        width: calc(30% + 2px);
 }  
}
@media only screen and (max-width: 1663px) {
    .projet{
        width: calc(30% + 1px);
 }  
}
@media only screen and (max-width: 1600px) {
    .projet{
        width: 30%;
 }  
}

@media only screen and (max-width: 1551px) {
      .projet{
      margin:1px;
    } 
}
@media only screen and (max-width: 1460px) {
    .projet{
    width: 46%;
  }  

}
@media only screen and (max-width: 1289px) {
    .projet{
    width: 45%;
  }  
}
  @media only screen and (max-width: 1120px) {
    .projet{
    width: 95%;
  }  
}
@media only screen and (max-width: 991px) {
    .projet{
    width: 46%;
  }  
}
@media only screen and (max-width: 890px) {
     .projet{
    width: 45%;
  }  
}
 */
@media only screen and (max-width: 675px) {
    .projet{
   width: 48%;
   
 }  
 .projectsContent{
    justify-content: space-around;
 }
}
