.flexcontainer{
    width: 100%;
    min-height: calc(100% - 2rem) ;
    display: flex;
    align-items: center;
}
.projectsContent{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
   
}
.projet{
    width: 200px;
    height: 300px;
    background-color: rgb(43, 90, 74);
    margin: 5px;
    border-radius: 15px;
    padding:10px
}

.radio{
    display: flex;
    background-color:rgb(90, 90, 212);
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 2rem;
    border-radius: 15px;
}
.choice{
    margin-right: 20px;
    text-transform: uppercase;
}




/*
.projectcontent > div{
    display: flex;
    width: 100%;
    margin: 15px 0;
}

 .textdiv{
width: 50%;
text-align: center;
}
.imgdiv{
width: 50%;
text-align: center;
} 

img{
width: 300px;

}

@media only screen and (max-width: 1598px) {
    img{
        width: 250px;
    }
}
@media only screen and (max-width: 1280px) {
    .projectcontent > div{
        flex-direction: column;
    }
    .textdiv{
        width: 100%;
    }
    .imgdiv{
        width: 100%;
        margin-top: 15px;
    }

} */