
<div class="projectcontent">

<table>
    <tr>
        <td class="leftcol">
            <p> voici deux vidéos de démonstration de mon premier projet Angular Spring Boot: <br>
                il s'agit d'un site web réalisé pour une auto-entreprise.</p>
                
                partie visiteurs: <a href="https://youtu.be/58JBlvOXVvs">https://youtu.be/58JBlvOXVvs</a><br>
                partie CRUD: <a href="https://youtu.be/EJsv0Or4Adg">https://youtu.be/EJsv0Or4Adg</a><br><br>
        </td>
        <td class="rightcol">
            <img class="avatar mat-elevation-z8" src="assets/images/bjv.jpg" alt="capture bjv">
        </td>
    </tr>
</table>
</div>

