

.homecontent{
    padding: 0 50px;
    
    background: linear-gradient(115deg, var(--bgcolor1) 50%, transparent 100%);
    height: calc(100% - 100px);
    padding-top: 100px;
    padding-left: 100px;
    position: relative;
    color:var(--paracolor);
}
.imgback{
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color:var(--bgcolor1) ;
    /* background-image: url('src/assets/images/bg4.jpg'); */
     background-image: url('src/assets/images/clavier.jpg');
    /* background-image: url('src/assets/images/bg11.jpg'); */
    background-size: cover;
    /* background-attachment: fixed; */
    position: absolute;
    top:0;
    left:0;
    filter: brightness(40%);
}

h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px black;
    color:var(--fontcolor1);
}
h2{
font-size: 1.8rem;
text-shadow: 2px 2px 2px black;
font-weight: 500;
color: var(--fontcolor2);
}

.pdf{
margin-top: 75px;
color: var(--buttoncolor);
}
.pdf a{
    display: block;
    width: max-content;
    font-size: 1.5rem;
    background-color:var(--buttonbgcolor);
    padding: 1rem 2rem;
    border-radius: 25px;
    box-shadow: 0 5px 1px rgb(15, 15, 15);
    transition: 0.2s ease;
}
.pdf a:hover{
    background-color:var(--buttonbgcolor2);
}
a{
    color: inherit; 
    text-decoration: inherit;
}
@media only screen and (max-width: 750px) {

    h1{
        font-size: 3rem ;
    }
    h2{
        font-size:1.3rem ;
    }
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 2.5rem ;
    }
    h2{
        font-size:1.2rem ;
    }
}
@media only screen and (max-width: 535px) {
    .homecontent{
        padding-left: 75px ;
    }
}