<div class="knowContent">
<div class="languages">
    <h2> Langages</h2>
    <ul> 
        <li>Java</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>css</li>
        <li>SQL</li>
    </ul>
    <h2>Frameworks</h2>
    <ul>
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>Material</li>
        <li>Bootstrap</li>
    </ul>
</div>
<div class="diplomes">
    <h2> Formations</h2> 
    2018-2021 <br>
Licence Informatique<br>
ISTIC - Université Rennes 1 <br>
(mention AB) <br><br>
<img class="avatar mat-elevation-z8" src="assets/images/istic2.png" alt="logo istic">
<br><br>
<hr>
<br>
Baccalauréat Scientifique spécialité physique <br>
Lycée Maupertuis - 35400 Saint-Malo <br>
(mention AB) <br><br>
<img class="avatar mat-elevation-z8" src="assets/images/logomaup.png" alt="logo maupertuis">
</div>
<div class="autres">
    <h2> Autres</h2>
    <div class="flex">
        <div class="box">
            <ul>
                <li>Visual studio code</li>
                <li>Spring tool suite</li>
                <li>AWS hosting</li>
                <li>Github</li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li>Postman</li>
                <li>MySQL Workbench</li>
                <li>GitBash</li>
                <li>FileZilla</li>
            </ul>
        </div>
    </div>
</div>
<div class="hobbies">
    <h2>  Centres d'intérêt</h2>
    <ul>
        <li>Sport</li>
        <li>Jeux vidéos</li>
        <li>Théâtre</li>
        <li>Lecture</li>
    </ul>
</div>
</div>