.knowContent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 42% 1fr 1fr;
    grid-template-rows: 72% 28%;
    grid-template-areas: 
      "L D D"
      "A A H";
    gap: 10px;
}
.knowContent>div{
     background-color: var(--bgcolor1);
    /* background: linear-gradient(0deg, var(--bgcolor1) 50%, var(--bgcolor2) 100%);
    background: radial-gradient(var(--bgcolor2),var(--bgcolor1)); */
    /* border: solid 2px black; */
    color: var(--paracolor);
}
.languages{
    grid-area: L;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1.1rem;
}
.diplomes{
    grid-area: D;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1.1rem;
   

}
.autres{
    grid-area: A;
    border-radius: 10px;
    padding: 10px;
    /* justify-content: ; */
    padding-top: 1.1rem; 
    padding-left: 20px;

}

.hobbies{
    grid-area: H;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1.1rem;
    padding-left:20px ;

}

@media only screen and (max-width: 615px) {
   .knowContent{
    display: block;
    height: min-content;
  }

}