<div class="knowContent">
<div class="languages">
    Langages
    <ul> 
        <li>Java</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>css</li>
        <li>SQL</li>
    </ul>
    Frameworks
    <ul>
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>Material</li>
        <li>Bootstrap</li>
    </ul>
</div>
<div class="diplomes">
    Formations <br> <br>
    2018-2021 <br>
Licence Informatique parcours MIAGE <br>
ISTIC - Université Rennes 1 <br>
(mention AB) <br> <br>
Baccalauréat Scientifique spécialité physique <br>
Lycée Maupertuis - 35400 Saint-Malo <br>
(mention AB) <br>
</div>
<div class="autres">
    Autres
    <div class="flex">
        <div class="box">
            <ul>
                <li>Visual studio codes</li>
                <li>Spring tool suite</li>
                <li>AWS hosting</li>
                <li>Github</li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li>Postman</li>
                <li>MySQL Workbench</li>
                <li>GitBash</li>
                <li>FileZilla</li>
            </ul>
        </div>
    </div>
</div>
<div class="hobbies">
    Centres d'intérêt
    <ul>
        <li>Sport</li>
        <li>Jeux vidéos</li>
        <li>Théâtre</li>
        <li>Lecture</li>
    </ul>
</div>
</div>