.knowContent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 72% 28%;
    grid-template-areas: 
      "L D D"
      "A A H";
}
.languages{
    grid-area: L;
    background-color: cornflowerblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}
.diplomes{
    grid-area: D;
    background-color: cornflowerblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
   

}
.autres{
    grid-area: A;
    background-color: cornflowerblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    /* justify-content: ; */
    padding-top: 0; 
    padding-left: 20px;

}

.hobbies{
    grid-area: H;
    background-color: cornflowerblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
    padding-left:20px ;

}

/* li{
    padding: 2px 0;
} */


@media only screen and (max-width: 991px) {
  .knowContent{
    display: block;
  }

}