<h3> AUTRES</h3>
<div class="grid">
    <div class="cel1">
        <ul>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>AWS hosting</li>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>Github</li>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>Gimp</li>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>Visual studio code</li>
        </ul>
    </div>
    <div class="cel2">
        <ul>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>Spring tool suite</li>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>Postman</li>
            <!-- <li><fa-icon [icon]="faSquareCheck"></fa-icon>MySQL Workbench</li> -->
            <!-- <li><fa-icon [icon]="faSquareCheck"></fa-icon>GitBash</li>
            <li><fa-icon [icon]="faSquareCheck"></fa-icon>FileZilla</li> -->
        </ul>
    </div>
</div>