:root {
    /* #26262c */
    /* --bgcolor1: rgb(26, 28, 29);
    --bgcolor2: rgb(66, 77, 79);
    --bgcolor3: rgb(93, 109, 112); */
    /*#845ec2 base color1*/
    --bgcolor1:#0b293d;/* #303030;*/
    --bgcolor2: #114568;/*#134b70;*/
    --bgcolor3: #104364; /*#104364; */

    --fontcolor1: #00adad;
    --fontcolor2: #00adad;;
    --fontcolor3: #00adad;;

    --paracolor:#c6c6c6;
    --iconcolor1:#00adad;
    --iconcolor2:#00adad;
    --customcolor1:#155580; /*bgcolor2 en un peu plus clair*/
    --buttonbgcolor:#006c72;
    --buttonbgcolor2:#008888;
    --buttoncolor:#c6c6c6;
    --titleprojcolor:white;

    --bgcolor1:#191923;
    /* --bgcolor2: #20202a; */
    --bgcolor3: #2d2d3a; 
    --bgcolor2: #2d2d3a;
    /* --bgcolor3: #2d2d3a;  */
    --buttoncolor:#000000;
    --customcolor1:#4e4e63;
    --fontcolor1: #ffffff;
    --fontcolor2: #c7c7c7;;
    --fontcolor3: #9b9bc0;;

    --buttonbgcolor:#fff9a3;
    --buttonbgcolor2:#008888;
    --buttonbgcolor:#9b9bc0;
    --buttonbgcolor2:#b2b2e0;
    --iconcolor1:#9b9bc0;
    --iconcolor2:#9b9bc0;
    /* --buttonbgcolor:lightgoldenrodyellow;
    --buttonbgcolor2:#b2b2e0;
color:;
    
    --iconcolor1:lightgoldenrodyellow;
    --iconcolor2:lightgoldenrodyellow;
    --fontcolor1: #ffffff;
    --fontcolor2: #c7c7c7;;
    --fontcolor3: lemonchiffon;; */
    /*--fontcolor1: #ffffff;
    --fontcolor2: #91cefc;;
    --fontcolor3: #5d97c7;;
    --iconcolor1:#5d97c7;;;
    --iconcolor2:#5d97c7;

    --buttonbgcolor:#91cefc;
    --buttonbgcolor2:#008888; */
  }
  /* exemple: color: var(--main-bg1)*; */
  
/* You can add global styles to this file, and also import other style files */

html, body{ min-height: 100vh; width: 100%} 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     /* background-color: #5e5e5e; */
     background-image: url('src/assets/images/bg10.jpg');
     background-size: cover;
     /*background-position: bottom;*/
     /* background-color: #000000; */
     display: flex;
     align-items: center;
     justify-content: center;

    }
    app-root{
        width: 100%;
    }
/* material styles*/
.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
    
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }

h3,h4{
    font-weight: 500;
}


/* 
--bgcolor1: #303030; #303030
--bgcolor2: #303030;
--bgcolor3: #444444;
--fontcolor1: #00adad;
--fontcolor2: #00adad;
--fontcolor3: #00adad;
--paracolor:#c6c6c6;
--iconcolor1:#00adad;
--iconcolor2:#00adad;
--customcolor1:#303030; bgcolor1 en un peu plus clair
--buttonbgcolor:#006c72;
--buttonbgcolor2:#008888;
--buttoncolor:#c6c6c6;
--titleprojcolor:white; */
