<div class="langagesContent">
    <div class="lan">
        <h3> LANGAGES</h3>
        <div class="years">
            <span>Années d'expérience</span>
            <span>1 an</span>
            <span>2 ans</span>
        </div>
        <div *ngFor="let langage of langages"> 
            <ul>
                <li>{{langage.value}}</li>
                <div class="progress" [ngStyle]="{width: langage.xp}"></div>
            </ul>
        </div>
    </div>
    <!-- <ul> 
        <li>Java</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>css</li>
        <li>SQL</li>
    </ul> -->
    <div class="lan">
    <h3>FRAMEWORKS</h3> 
    <div class="years">
        <span>Années d'expérience</span>
        <span>1 an</span>
        <span>2 ans</span>
    </div>  
    <div *ngFor="let framework of frameworks"> 
        <ul>
            <li>{{framework.value}}</li>
            <div class="progress" [ngStyle]="{width: framework.xp}"></div>
        </ul>
    </div>
</div>
    <!-- <ul>
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>Material</li>
        <li>Bootstrap</li>
    </ul> -->

</div>