<h3> FORMATIONS</h3> 
<div class="grid">
    <div class="licence">
        <h4>Licence informatique</h4>
        <div class="bloc">
        <h5>2018-2021</h5>
            ISTIC - Université Rennes 1 <br>
            (mention AB) 
        </div>   
            <!-- <div>
                <img class="avatar mat-elevation-z8" src="assets/images/istic2.png" alt="logo istic">
            </div> -->
    </div>
    <div class="bac">
        <h4> Baccalauréat Scientifique spécialité physique </h4>
        <div class="bloc">
            Lycée Maupertuis - 35400 Saint-Malo <br>
            (mention AB) 
        </div>   
            <!-- <div>
                <img class="avatar mat-elevation-z8" src="assets/images/logomaup.png" alt="logo maupertuis">
            </div> -->
    </div>
</div>