img{
    width: 80px;
    height: auto;
    margin: auto 0
}
@media only screen and (max-width: 1037px) {
    img{
       width: 125px;
   } 
}
@media only screen and (max-width: 1001px) {
    img{
       width: 115px;
   } 
}
h4{
    margin-bottom: .5rem;
    color:aquamarine;
}
h5{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
}
.grid{
    height: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "A"
      "B";
}
.licence{
    grid-area: A;
    /* background-image: url('src/assets/images/istic.png'); 
    background-size: 100% */
    
}
.bac{
    grid-area: B;
    /* background-image: url('src/assets/images/maup.jpg'); 
    background-size: cover;
    background-attachment: fixed; */
}

.bloc{
    padding-left: .8rem;
}
h3{
    margin-top: 0;
    color:aquamarine;
}